* {
  box-sizing: border-box;
}

body {
  height: 100%;
  background-color: rgba(82, 132, 82, 0.762);
  color: beige;
}

#root {
  margin: 6rem;
  font-family: "Dancing Script", cursive;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}

.header-container {
  height: 4rem;
  width: 100%;
  color: beige;
  background-color: rgba(82, 132, 82, 0.762);
  box-shadow: rgba(33, 35, 38, 0.5) 0px 10px 10px -5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  height: 3rem;
  padding-left: 20px;
  background-color: rgba(82, 132, 82, 0.762);
  box-shadow: rgba(33, 35, 38, 0.257) 0px -10px 20px -1px;
  font-size: 1rem;
  color: beige;

  display: flex;
  align-items: center;
}

.year {
  color: beige;
  font-weight: 300;
  font-size: 3rem;
  margin: 0 auto;
}

.year-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
  margin: 2rem 0;
}

.month-container {
  width: 14rem;
  background-color: rgba(82, 132, 82, 0.762);
  margin: 0.5rem;
}

.month-name {
  color: beige;
  font-size: 2rem;
  text-align: center;
  padding: 0.5rem 0;
}

.days-week {
  width: 100%;
  height: calc(14rem / 8);
  color: rgb(154, 138, 44);
  background-color: #d9dad7;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.day-name {
  width: 2rem;
  color: rgb(154, 138, 44);
  text-align: center;
  line-height: calc(14rem / 8);
}

.day:hover {
  box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
  border: 1px solid #cccccc;
  background-color: transparent;
}

.days-container {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  color: #d9dad7;
  text-align: center;
  line-height: calc(14rem / 8);
}

.month-container:nth-child(n + 7) .days-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.month-container:nth-child(n + 7) .days-container .day,
.month-container:nth-child(n + 7) .days-container .day-placeholder {
  height: calc(100% / 6);
  width: calc(100% / 7);
}

.month-container:nth-child(12) .days-container .day {
  display: inline-block;
  height: calc(100% / 6);
  width: calc(100% / 7);
}

@media screen and (max-width: 920px) {
  .month-1 {
    background: url(../images/jan.jpg);
    background-size: 100%;
  }

  .month-2 {
    background: url(../images/feb.jpg);
    background-size: 100%;
  }

  .month-3 {
    background: url(../images/march.jpg);
    background-size: 100%;
  }

  .month-4 {
    background: url(../images/apr.jpg);
    background-size: 100%;
  }

  .month-5 {
    background: url(../images/may.jpg);
    background-size: 100%;
  }

  .month-6 {
    background: url(../images/june.jpg);
    background-size: 100%;
  }

  .month-7 {
    background: url(../images/july.jpg);
    background-size: 100%;
  }

  .month-8 {
    background: url(../images/aug.jpg);
    background-size: 100%;
  }

  .month-9 {
    background: url(../images/sept.jpg);
    background-size: 100%;
  }

  .month-10 {
    background: url(../images/oct.jpg);
    background-size: 100%;
  }

  .month-11 {
    background: url(../images/nov.jpg);
    background-size: 100%;
  }

  .month-12 {
    background: url(../images/dec.jpg);
    background-size: 100%;
  }
}

.days-effect {
  background-color: olivedrab;
}
